manifest {
    homePage = 'http://github.com/lifebit-ai/templates'
    mainScript = 'main.nf'
}

params {
    // Defaults 
    outdir       = './results'

    // Required
    plot_type            = false
    year                 = false
    continent_to_exclude = false
    run_combinations     = false
    run_rmd = false
    config = 'conf/google.config'
    zone = 'us-east1-b'
    network = 'default'
    subnetwork = 'default'
    help       = false
}

profiles {
	standard {includeConfig params.config}
}

docker.enabled = true

process {
    container = 'quay.io/lifebitai/papermill'
    withName: run_notebook {
     container = 'quay.io/lifebitai/papermill'
   }
 }

executor {
    name = params.executor
}
